@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

body{
	background-color: #003557;
}

h1{
	font-family: 'SEGA LOGO FONT';
	color: #3AA4E0;
}